.person-fieldset{
    display: flex;
    width: 95%;
}
.person {
    display: inline-block;
}

.person-contact {
    position: relative;
}

.person-contact-phoneNumber{
    position: absolute;
    width: 50%;
    left: 0;
}

.person-contact-eMail{
    position: absolute;
    width: 50%;
    right: 0;
}

.person-contact-eMail-input {
    width: 250px;
    margin-top: 5px;
}

.person-contact-phoneNumber-input {
    margin-top: 5px;
}

.person-contact-select-Option{
    width: 75px;
}

