.person-fieldset{
    display: inline-block;
    width: 93.5%;
}

.person {
    display: block;
}

.person-contact {
    position: relative;
}

.person-left, .person-right{
    display: inline-block;
    float: left;
    padding-right: 5%;
}

.person-contact-eMail-input, .person-contact-phoneNumber-input {
    margin-top: 5px;
    width: 250px;
}

.person-contact-select-Option{
    width: 75px;
}

